<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema de Gestion</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Plugin/css")
    @Scripts.Render("~/bundles/modernizr")
</head>



<body>


    <script src="~/Scripts/jquery-3.4.1.js"></script>


    @*<div class="nav-user d-flex">
            <a id="nombre" title="Los Tejos" onclick="abrirModal()" class="usuario">
                None
            </a>
            <img src="~/Imagenes/User.png" class="userImg" alt="" />

            <h1 class="titulo-font">Sistema de Gestion</h1>

            <label id="cerrarSession" hidden>Cerrar session</label>
        </div>*@


    <div class="nav-user d-flex justify-content-between align-items-center">

        <!-- Título centrado -->
        <h1 class="titulo-font">Indumentaria DG</h1>

        <nav id="desplegable">
            <div>
                <div class="d-flex align-items-center">
                    <img src="~/Imagenes/User.png" class="userImg" alt="User Image" />
                    <a id="nombre" title="" class="usuario">Nombre del Usuario</a>
                    <ul>
                        <li>
                            <p onclick="cerrarSession()" class="cerrar-sesion">
                                Cerrar Sesión
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Soporte a la derecha -->
        <div class="soporte d-flex align-items-center">
            <span class="soporte-text">Soporte:</span>

            <!-- Botón WhatsApp -->
            <a href="https://wa.me/5493777710884" target="_blank" class="btn btn-wsp" title="Contactar vía WhatsApp">
                <i class="fa fa-whatsapp"></i>
            </a>

            <!-- Botón Llamada -->
            <a href="tel:+5493777710884" class="btn btn-call" title="Llamar a Soporte">
                <i class="fa fa-phone"></i>
            </a>
        </div>

    </div>



    <div class="menu-secciones">




        <div class="seccion" id="seccionUsuarios" hidden>
            <button class="btn-seccion" id="btnUsuarios" onclick="document.location.href='@Url.Content("~/Usuarios/Index/")'">
                <img src="~/Imagenes/vendedor.png" class="img-seccion" />
                Usuarios
            </button>
        </div>

        <div class="seccion" id="seccionRendimiento" hidden>
            <button class="btn-seccion-rendimiento" id="btnRendimiento" onclick="document.location.href='@Url.Content("~/Rendimiento/Index/")'">
                <img src="~/Imagenes/rendimiento.png" class="img-seccion" />
                Rendimiento<br />
                <i id="notificationHome" class="fa fa-home text-danger" style="display:none;"></i>
            </button>
        </div>


        <div class="seccion" id="seccionProductos" hidden>
            <button class="btn-seccion" id="btnProductos" onclick="document.location.href='@Url.Content("~/Productos/Index/")'">
                <img src="~/Imagenes/productos.png" class="img-seccion" />
                Productos
            </button>

        </div>


        <div class="seccion" id="seccionStock" hidden>
            <button class="btn-seccion" id="btnStock" onclick="document.location.href='@Url.Content("~/Stock/Index/")'">
                <img src="~/Imagenes/stock.png" class="img-seccion" />
                Stock
            </button>
        </div>

        @*<div class="seccion" id="seccionPedidos" hidden>
                <button class="btn-seccion" id="btnPedidos" onclick="document.location.href='@Url.Content("~/Pedidos/Index/")'">
                    <img src="~/Imagenes/Pedidos.png" class="img-seccion" />
                    Pedidos
                </button>
            </div>*@

        <div class="seccion" id="seccionCobranzas" hidden>
            <button class="btn-seccion" id="btnCobranzas" onclick="document.location.href='@Url.Content("~/Cobranzas/Index/")'">
                <img src="~/Imagenes/cobranzas.png" class="img-seccion" />
                Cobranzas
            </button>
        </div>

        <div class="seccion">
            <button class="btn-seccion" id="btnVentas" onclick="document.location.href='@Url.Content("~/Ventas/Index/")'">
                <img src="~/Imagenes/Ventas.png" class="img-seccion" />
                Ventas
            </button>
        </div>



        <div class="seccion" id="seccionClientes" hidden>
            <button class="btn-seccion" id="btnClientes" onclick="document.location.href='@Url.Content("~/Clientes/Index/")'">
                <img src="~/Imagenes/Clientes.png" class="img-seccion" />
                Clientes
            </button>
        </div>

        <div class="seccion" id="seccionClientesCero" hidden>
            <button class="btn-seccion" id="btnClientesCero" onclick="document.location.href='@Url.Content("~/ClientesCero/Index/")'">
                <img src="~/Imagenes/clientes en cero.png" class="img-seccion" />
                Clientes
                <i id="notificationIcon" class="fa fa-bell" style="display:none;"></i>
            </button>
        </div>


    </div>


    <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLoginLabel" aria-hidden="true">
        <div class="modal-dialog estilowpp">
            <div class="estilowpp modal-content ">
                <div class="modal-body">
                    <label class="lblcerrarSession">Cerrar Session</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <!-- <div class="modal-dialog" role="document"> Antiguo <DIV >-->
        <div class="modal-dialog modal-dialog-centered">
            <!-- Nuevo <DIV> con el selector modal-dialog-Center -->

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Content/Plugin/js")
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/JavaScript/Utils/Utils.js"></script>
<script>

    async function cerrarSession() {
        try {
            if (confirm("¿Está seguro que desea salir?")) {
                var url = "/Login/CerrarSesion";

                let value = JSON.stringify({

                });

                let options = {
                    type: "POST",
                    url: url,
                    async: true,
                    data: value,
                    contentType: "application/json",
                    dataType: "json"
                };

                let result = await MakeAjax(options);

                if (result.Status) {
                    document.location.href = "/Rendimiento/Index";
                }

            }
        } catch (error) {
            alert(error);
        }
    }

    async function CantidadClientesAusentes() {
         
                var url = "/Rendimiento/MostrarCantidadClientesAusentes";

                let value = JSON.stringify({

                });

                let options = {
                    type: "POST",
                    url: url,
                    async: true,
                    data: value,
                    contentType: "application/json",
                    dataType: "json"
                };

                let result = await MakeAjax(options);

        if (result != null) {
            document.getElementById("notificationHome").style.display = "inline";
            document.getElementById("notificationHome").textContent = ` (${result.cantidad})`;
        } else {
            document.getElementById("notificationIcon").style.display = "block";
        }
       
    }


    var data = JSON.parse(sessionStorage.getItem('usuario'));

    if (data != null) {
        $('#nombre').text(data.Nombre);
        if (data.IdRol != 2) {

            CantidadClientesAusentes();
        }
    }


 
    if (data.ClientesCero == 1) {
    
        document.getElementById("notificationIcon").style.display = "inline"; // Muestra el icono de notificación
    }


    //if (window.location.href.indexOf('/Usuarios/Index/') !== -1 || window.location.href.indexOf('/Rendimiento/Index/') !== -1) {
    //    document.getElementById("seccionRendimiento").removeAttribute("hidden");
    //} else {
    //    document.getElementById("seccionRendimiento").setAttribute("hidden", "hidden");
    //}

    //if (window.location.href.indexOf('/Ventas/Index/') !== -1 || window.location.href.indexOf('/Cobranzas/Index/') !== -1) {
    //    document.getElementById("seccionCobranzas").removeAttribute("hidden");
    //} else {
    //    document.getElementById("seccionCobranzas").setAttribute("hidden", "hidden");
    //}




    if (data.IdRol == 1) { //ADMINISTRADOR
        document.getElementById("seccionUsuarios").removeAttribute("hidden");
        document.getElementById("seccionProductos").removeAttribute("hidden");
        document.getElementById("seccionClientes").removeAttribute("hidden");
        document.getElementById("seccionCobranzas").removeAttribute("hidden");
        document.getElementById("seccionRendimiento").removeAttribute("hidden");
        //document.getElementById("seccionPedidos").removeAttribute("hidden");
    } else if (data.IdRol == 3) { //COBRADOR
        document.getElementById("seccionCobranzas").removeAttribute("hidden");
        document.getElementById("seccionClientesCero").removeAttribute("hidden");
        document.getElementById("seccionStock").removeAttribute("hidden");
    } else if (data.IdRol == 4) { //COMPROBANTES
        document.getElementById("seccionRendimiento").removeAttribute("hidden");
        document.getElementById("seccionClientesCero").removeAttribute("hidden");
        document.getElementById("seccionProductos").removeAttribute("hidden");
        document.getElementById("seccionCobranzas").removeAttribute("hidden");
    } else {
        document.getElementById("seccionStock").removeAttribute("hidden");
        document.getElementById("seccionClientesCero").removeAttribute("hidden");
    }

  


    let name = document.getElementById("nombre");


</script>
