<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>My favorite book</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/Estilos/NavBarLogin.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <style>
        .pointer {
            cursor: pointer;
        }

        .select-tipo:hover {
            background: rgba(0,123,255,0.1);
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(112,112,112,0.1);">
        <div class="container-fluid">

            <div class="d-flex align-items-center me-2">
                <div id="divNotificacionComprobante" hidden>
                    <i class="fa fa-print text-danger"></i>
                    <span id="notificacionComprobante" class="badge bg-danger ms-1"></span>
                </div>

                <div id="divNotificacionHome" hidden>
                    <i class="fa fa-home text-danger ms-2"></i>
                    <span id="notificationHome" class="badge bg-danger ms-1"></span>
                </div>
            </div>

            <a class="navbar-brand">Indumentaria DG</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mt-2 mb-2 mb-lg-0">

                    <!-- ❌ ELIMINADO EL MENÚ COMPLETO DE VENTAS ELECTRODOMÉSTICOS -->

                    <li class="nav-item" id="seccionUsuarios" hidden>
                        <a class="nav-link" id="btnUsuarios" onclick="document.location.href='@Url.Content("~/Usuarios/Index/")'">
                            Usuarios <i id="notificationStock" class="fa fa-check text-danger" style="display:none;"></i>
                        </a>
                    </li>

                    <li class="nav-item" id="seccionSueldos" hidden>
                        <a class="nav-link" id="btnSueldos" onclick="document.location.href='@Url.Content("~/Pagos/Index/")'">
                            Pagos de Sueldos
                        </a>
                    </li>

                    <li class="nav-item" id="seccionRendimiento" hidden>
                        <a class="nav-link" id="btnRendimiento" onclick="document.location.href='@Url.Content("~/Rendimiento/Index/")'">
                            Rendimiento
                        </a>
                    </li>

                    <li class="nav-item" id="seccionProductos" hidden>
                        <a class="nav-link" id="btnProductos" onclick="document.location.href='@Url.Content("~/Productos/Index/")'">
                            Productos
                        </a>
                    </li>

                    <!-- 🔥 NUEVOS BOTONES GENERALES -->

                    <li class="nav-item" id="seccionVentas">
                        <a class="nav-link pointer" id="btnVentasGeneral">Ventas</a>
                    </li>

                    <li class="nav-item" id="seccionCobranzas">
                        <a class="nav-link pointer" id="btnCobranzasGeneral">Cobranzas</a>
                    </li>

                    <li class="nav-item" id="seccionStock" hidden>
                        <a class="nav-link" id="btnProductos"
                           onclick="document.location.href='@Url.Content("~/Stock/Index/")'">
                            Stock
                        </a>
                    </li>

                    <li class="nav-item" id="seccionClientes" hidden>
                        <a class="nav-link" id="btnClientes" onclick="document.location.href='@Url.Content("~/Clientes/Index/")'">
                            Clientes
                        </a>
                    </li>

                    <li class="nav-item" id="seccionClientesCero" hidden>
                        <a class="nav-link" id="btnClientesCero" onclick="document.location.href='@Url.Content("~/ClientesCero/Index/")'">
                            Clientes <i id="notificationIcon" class="fa fa-bell text-danger" style="display:none;"></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown" id="configDropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="configDropdownLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Soporte
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="configDropdownLink">
                            <li>
                                <a class="dropdown-item" href="https://wa.me/5493777710884">
                                    <i class="fa fa-whatsapp text-success"></i> Contactar via WhatsApp
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="tel:+5493777710884">
                                    <i class="fa fa-phone text-danger"></i> Llamar a Soporte
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pointer d-flex align-items-center gap-2" id="btnCambiarTipoVentas">
                            <i class="fa fa-exchange"></i>

                            <span id="txtModoVenta" class="flex-grow-1">
                            
                            </span>

                   
                        </a>
                    </li>



                </ul>

                <!-- Usuario -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
                           role="button" data-bs-toggle="dropdown">
                            <span id="userName"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" onclick="cerrarSession();">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <!-- 🔥 MODAL PARA ELEGIR TIPO DE VENTA -->
    <div class="modal fade" id="modalTipoVentas" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 shadow">

                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Seleccioná el tipo de ventas</h5>
                </div>

                <div class="modal-body text-center">

                    <p class="text-muted">Elegí qué sistema vas a usar:</p>

                    <div class="row g-3">

                        <div class="col-12 col-md-6">
                            <div class="p-3 border rounded pointer select-tipo" data-tipo="indumentaria">
                                <i class="fa fa-shopping-bag fa-2x mb-2 text-success"></i>
                                <h5>Indumentaria</h5>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="p-3 border rounded pointer select-tipo" data-tipo="electro">
                                <i class="fa fa-television fa-2x mb-2 text-primary"></i>
                                <h5>Electrodomésticos</h5>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="~/JavaScript/Utils/Utils.js"></script>
    <script src="~/JavaScript/NavBarLogin.js?v=2.1"></script>

</body>
</html>
